* {
  background-color: #040509;
  color: #ffffff;
  text-align: center;
}

/* ---------- Left Side ---------- */
.left-bar {
  width: clamp(40px, 6vw, 70px);
  height: 100vh;
}
.left-bar img {
  width: clamp(30px, 3vw, 60px);
  margin: 14px auto 20px auto;
}
.left-top {
  height: 90%;
}
#left-bottom {
  margin: 0 !important;
}
/* ---------- Center ---------- */
.centerContainer {
  background-color: #d9d9d9;
}
.top-bar {
  padding: 15px 8px 20px 8px;
  align-items: center;
}
.top-bar h1 {
  width: 70%;
  text-align: left;
}
.top-bar h1 a {
  color: #ffffff;
  text-decoration: none;
  font-size: clamp(25px, 3vw, 40px);
  font-weight: 700;
}
.top-bar input {
  width: 30%;
  height: 50%;
  background-color: #d9d9d9;
  border-style: solid;
  border-radius: 50px;
  text-align: left;
  font-weight: 700;
}
.top-bar input::placeholder {
  font-weight: 700;
}
.mainContainer div {
  background-color: #d9d9d9;
  text-align: left;
}
